.registerContainer {
    background-image: url('https://images.app.goo.gl/goRLxmBv69hmTfU56');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100px;
    height:100%;
    .register{
        padding-top: 200px;
        width: 368px;
        margin: 0 auto;
    }
}